<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
 {{> header}}
    <section class="container-shop cart" id="cart-title">
        <h2 class="categories__title" >Shopping Cart</h2>
        {{> shopping-process}}
     {{> cart-pre}}
    </section>

    {{> footer}}
    <template id="no-prod-title">
   {{> no-product-title}}
</template>

    <!-- Modal -->
   {{> modal}}
    {{> mobile-menu}}
    <script src="dist/mobileMenu.js"></script>
   <script src="dist/modal.js"></script>
   <script src="dist/shoppingCart.js"></script>
   <script src="dist/register.js"></script>
   <script src="dist/currency.js"></script>

</body>

</html>