<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
 {{> header}}
    <section class="container-shop cart">
        <h2 class="categories__title">Checkout</h2>
       
        {{> checkout-step}}
   
    </section>

    {{> footer}}
</body>

</html>