<html lang="en">
{{> head}}

<body>
 {{> header}}
    <section class="container-shop cart">
        <h2 class="categories__title">Compare List</h2>
     {{> compare-pre}}
    </section>

    {{> footer}}

    <!-- Modal -->
   {{> modal}}
   {{!-- Mobile Menu --}}
    {{> mobile-menu}}
    <script src="dist/mobileMenu.js"></script>
   <script src="dist/modal.js"></script>
     <script src="dist/register.js"></script>
   <script src="dist/compareList.js"></script>
</body>