<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
 {{> header}}
    <section class="container-shop cart">
        <h2 class="categories__title">Favorite List</h2>
     {{> favorite-pre}}
    </section>

    {{> footer}}

    <!-- Modal -->
   {{> modal}}
    {{> mobile-menu}}
    <script src="dist/mobileMenu.js"></script>
   <script src="dist/modal.js"></script>
   <script src="dist/register.js"></script>
   <script src="dist/favoriteList.js"></script>
</body>

</html>