<html lang="en">
  {{> head}}
  <body>
    <!-- HEADER     -->
    {{> header}}
    {{! SideBar }}
    <section class="container-shop product-list">
      
      <h1 class="categories__title">Product List</h1>
     <div class="product-list--wrap">
       <div class="sidebar">
        <h4 class="sidebar__title">Categories</h4>
        <ul class="sidebar__list">

          <li class="sidebar__item" name="jacket"><a href="/products?page=1&limit=16&category=jacket" class="sidebar__item--link"><svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M74.9479 29.3799C74.6238 28.57 74.1271 27.8405 73.4922 27.2423C72.8573 26.644 72.0996 26.1914 71.2719 25.9159L61.8199 22.7639L59.2959 17.7159C58.8 16.7172 58.0343 15.8772 57.0856 15.2911C56.1369 14.7051 55.043 14.3964 53.9279 14.3999H42.8719C41.7568 14.3964 40.663 14.7051 39.7142 15.2911C38.7655 15.8772 37.9999 16.7172 37.5039 17.7159L34.9799 22.7639L25.5279 25.9159C24.7002 26.1914 23.9425 26.644 23.3077 27.2423C22.6728 27.8405 22.176 28.57 21.8519 29.3799L15.1159 46.2239C14.6407 47.4051 14.3976 48.6668 14.3999 49.9399V74.3999C14.3999 75.4608 14.8213 76.4782 15.5715 77.2283C16.3216 77.9785 17.3391 78.3999 18.3999 78.3999H22.3999C23.4608 78.3999 24.4782 77.9785 25.2283 77.2283C25.9785 76.4782 26.3999 75.4608 26.3999 74.3999V68.6959L28.3999 62.0239V66.5119C28.5179 68.767 29.206 70.9552 30.3999 72.8719V78.3999C30.3999 79.4608 30.8213 80.4782 31.5715 81.2283C32.3216 81.9785 33.3391 82.3999 34.3999 82.3999H62.3999C63.4608 82.3999 64.4782 81.9785 65.2283 81.2283C65.9785 80.4782 66.3999 79.4608 66.3999 78.3999V72.8719C67.594 70.9553 68.2821 68.767 68.3999 66.5119V62.0239L70.3999 68.6959V74.3999C70.3999 75.4608 70.8213 76.4782 71.5715 77.2283C72.3216 77.9785 73.3391 78.3999 74.3999 78.3999H78.3999C79.4608 78.3999 80.4782 77.9785 81.2283 77.2283C81.9785 76.4782 82.3999 75.4608 82.3999 74.3999V49.9399C82.4026 48.668 82.1595 47.4076 81.6839 46.2279L74.9479 29.3799ZM70.3559 29.9199C68.2226 33.1278 66.269 36.4516 64.5039 39.8759C64.2919 40.6759 64.4719 39.7479 64.3999 62.3999C62.8086 62.3999 61.2825 61.7678 60.1573 60.6426C59.0321 59.5173 58.3999 57.9912 58.3999 56.3999C58.3999 55.8695 58.1892 55.3608 57.8141 54.9857C57.4391 54.6106 56.9304 54.3999 56.3999 54.3999C55.8695 54.3999 55.3608 54.6106 54.9857 54.9857C54.6106 55.3608 54.3999 55.8695 54.3999 56.3999C54.3999 59.0521 55.4535 61.5956 57.3288 63.471C59.2042 65.3463 61.7478 66.3999 64.3999 66.3999V66.5119C64.3168 67.8904 63.8921 69.2265 63.1639 70.3999H50.3999V33.4719L60.6959 26.6079C72.1199 30.4919 69.5599 29.4559 70.3559 29.9199ZM39.9999 21.7039L42.4759 26.0359L38.9959 23.7159L39.9999 21.7039ZM56.8319 21.7039L57.8359 23.7039L54.3559 26.0239L56.8319 21.7039ZM54.0879 18.4399L48.3999 28.3679L42.7279 18.4399C43.5399 18.3999 53.2559 18.3999 54.0719 18.4399H54.0879ZM36.1039 26.6079L46.3999 33.4719V70.3999H33.6359C32.9017 69.2293 32.4764 67.8916 32.3999 66.5119V66.3999C35.0521 66.3999 37.5956 65.3463 39.471 63.471C41.3463 61.5956 42.3999 59.0521 42.3999 56.3999C42.3999 55.8695 42.1892 55.3608 41.8141 54.9857C41.4391 54.6106 40.9304 54.3999 40.3999 54.3999C39.8695 54.3999 39.3608 54.6106 38.9857 54.9857C38.6106 55.3608 38.3999 55.8695 38.3999 56.3999C38.3999 57.9912 37.7678 59.5173 36.6426 60.6426C35.5173 61.7678 33.9912 62.3999 32.3999 62.3999C32.3279 39.7519 32.5079 40.6559 32.2959 39.8759C30.5321 36.4509 28.5784 33.1271 26.4439 29.9199C27.0559 29.5599 32.0239 27.9999 36.1039 26.6079ZM18.3999 74.3999V70.3999H22.3999V74.3999H18.3999ZM28.1479 48.9519L22.9119 66.3999H18.3999V49.9399C18.3996 49.1768 18.5449 48.4206 18.8279 47.7119L24.2799 34.0879L28.3999 40.9519V47.2279C28.4002 47.8118 28.3154 48.3926 28.1479 48.9519V48.9519ZM34.3999 78.3999V74.3999H62.3999V78.3999H34.3999ZM68.3999 47.2279V40.9519L72.5199 34.0879L77.9719 47.7159C78.2558 48.423 78.4011 49.178 78.3999 49.9399V66.3999H73.8879L68.6519 48.9479C68.4841 48.39 68.3992 47.8105 68.3999 47.2279V47.2279ZM74.3999 74.3999V70.3999H78.3999V74.3999H74.3999Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Jacket</span></a></li>
          <li class="sidebar__item" name="shirt"><a href="/products?page=1&limit=16&category=shirt" class="sidebar__item--link"><svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M34.1711 78H62.1711C63.232 78 64.2494 77.5786 64.9996 76.8284C65.7497 76.0783 66.1711 75.0609 66.1711 74V40.828L69.3431 44C70.1046 44.7281 71.1176 45.1345 72.1711 45.1345C73.2247 45.1345 74.2377 44.7281 74.9991 44L80.1711 38.828C80.921 38.0779 81.3423 37.0607 81.3423 36C81.3423 34.9394 80.921 33.9221 80.1711 33.172L66.7551 19.756C66.1995 19.1977 65.5387 18.755 64.8109 18.4536C64.0832 18.1521 63.3029 17.998 62.5151 18H33.8271C33.0394 17.998 32.2591 18.1521 31.5314 18.4536C30.8036 18.755 30.1428 19.1977 29.5871 19.756L16.1711 33.172C15.4213 33.9221 15 34.9394 15 36C15 37.0607 15.4213 38.0779 16.1711 38.828L21.3431 44C22.1046 44.7281 23.1176 45.1345 24.1711 45.1345C25.2247 45.1345 26.2377 44.7281 26.9991 44L30.1711 40.828V74C30.1711 75.0609 30.5926 76.0783 31.3427 76.8284C32.0929 77.5786 33.1103 78 34.1711 78ZM53.8031 22C53.3959 23.1691 52.6348 24.1825 51.6257 24.8996C50.6165 25.6166 49.4092 26.0019 48.1711 26.0019C46.9331 26.0019 45.7258 25.6166 44.7166 24.8996C43.7075 24.1825 42.9464 23.1691 42.5391 22H53.8031ZM24.1711 41.172L18.9991 36L32.4151 22.584C32.79 22.2101 33.2977 22.0001 33.8271 22H38.3751C38.8342 24.2606 40.0606 26.293 41.8466 27.7528C43.6327 29.2126 45.8684 30.01 48.1751 30.01C50.4819 30.01 52.7176 29.2126 54.5037 27.7528C56.2897 26.293 57.5161 24.2606 57.9751 22H62.5231C63.0526 22.0001 63.5603 22.2101 63.9351 22.584L77.3431 36L72.1711 41.172L65.5871 34.584C65.3074 34.3036 64.9507 34.1125 64.5623 34.0351C64.1739 33.9576 63.7712 33.9972 63.4053 34.1489C63.0394 34.3005 62.7268 34.5574 62.5071 34.887C62.2874 35.2166 62.1704 35.6039 62.1711 36V74H34.1711V36C34.1719 35.6039 34.0549 35.2166 33.8352 34.887C33.6155 34.5574 33.3029 34.3005 32.937 34.1489C32.5711 33.9972 32.1684 33.9576 31.78 34.0351C31.3915 34.1125 31.0349 34.3036 30.7551 34.584L24.1711 41.172Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Shirt</span></a></li>
          <li class="sidebar__item" name="pants">
           <a href="/products?page=1&limit=16&category=pants" class="sidebar__item--link">
              <svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M48 20C28.932 20 14 28.8 14 40V56C14 65.132 24.372 73.024 39.276 75.316C40.116 75.7591 41.0503 75.9936 42 76H54C54.9497 75.9936 55.884 75.7591 56.724 75.316C71.628 73.024 82 65.132 82 56V40C82 28.8 67.068 20 48 20ZM18 56V49.552C23.1606 54.5681 29.7606 57.845 36.876 58.924C36.3083 59.85 36.0053 60.9139 36 62V70C36 70.208 36.04 70.4 36.06 70.608C25.384 68.064 18 62.272 18 56ZM56 70C55.9793 70.5238 55.7619 71.0206 55.3912 71.3912C55.0206 71.7619 54.5238 71.9793 54 72H50V68H52C52.5304 68 53.0391 67.7893 53.4142 67.4142C53.7893 67.0391 54 66.5304 54 66C54 65.4696 53.7893 64.9609 53.4142 64.5858C53.0391 64.2107 52.5304 64 52 64H50V60H54C54.5304 60 55.0391 60.2107 55.4142 60.5858C55.7893 60.9609 56 61.4696 56 62V70ZM40 70V62C40 61.4696 40.2107 60.9609 40.5858 60.5858C40.9609 60.2107 41.4696 60 42 60H46V64C45.4696 64 44.9609 64.2107 44.5858 64.5858C44.2107 64.9609 44 65.4696 44 66C44 66.5304 44.2107 67.0391 44.5858 67.4142C44.9609 67.7893 45.4696 68 46 68V72H42C41.4756 71.9811 40.9778 71.7644 40.6067 71.3933C40.2356 71.0222 40.0189 70.5244 40 70V70ZM59.536 52.46C59.936 47.616 54.856 44.672 50 44.112V40.112C59.404 40.932 65.752 47.296 59.536 52.46ZM40 52C40 50.112 43.42 48 48 48C52.352 48 55.6 50.112 55.6 52C55.6 53.888 52.352 56 48 56C44.744 56 40 54.484 40 52ZM46 44.132C40.264 44.752 36 47.968 36 51.992C30.4 46.592 37.388 40.864 46 40.12V44.132ZM65.232 51.332C65.7106 50.2847 65.9719 49.1512 66 48C66 41.268 58.092 36 48 36C37.908 36 30 41.268 30 48C30.0265 49.1552 30.2878 50.293 30.768 51.344C29.437 50.5987 28.3074 49.5406 27.4767 48.2611C26.646 46.9816 26.1392 45.5191 26 44C26 37.496 36.076 32 48 32C59.924 32 70 37.496 70 44C69.8608 45.5191 69.354 46.9816 68.5233 48.2611C67.6926 49.5406 66.563 50.5987 65.232 51.344V51.332ZM78 56C78 62.272 70.616 68.064 59.94 70.608C59.96 70.404 60 70.208 60 70V62C59.9947 60.9139 59.6917 59.85 59.124 58.924C66.2394 57.845 72.8394 54.5681 78 49.552V56ZM72.828 48.844C73.5924 47.3433 73.9938 45.6841 74 44C74 35.028 62.58 28 48 28C33.42 28 22 35.028 22 44C22.0066 45.6841 22.408 47.3432 23.172 48.844C21.6916 47.8629 20.4556 46.5556 19.5591 45.0225C18.6625 43.4895 18.1292 41.7713 18 40C18 31.328 31.74 24 48 24C64.26 24 78 31.328 78 40C77.8708 41.7713 77.3375 43.4895 76.4409 45.0225C75.5444 46.5556 74.3084 47.8629 72.828 48.844V48.844Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Pants</span>
           </a></li>
          <li class="sidebar__item" name="shoes"><a href="/products?page=1&limit=16&category=shoes"  class="sidebar__item--link">
            <svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M78.0016 28.1224H57.2377C56.5219 28.1233 55.8197 28.3174 55.2051 28.6842C54.5904 29.051 54.0862 29.5769 53.7457 30.2064C53.4738 29.0249 52.9371 27.9207 52.1759 26.9771C51.4147 26.0335 50.449 25.2753 49.3518 24.7596C48.2546 24.244 47.0545 23.9845 45.8423 24.0007C44.63 24.0169 43.4373 24.3085 42.3543 24.8533C41.2713 25.398 40.3262 26.1819 39.5905 27.1455C38.8549 28.1091 38.3478 29.2273 38.1078 30.4157C37.8677 31.604 37.9008 32.8313 38.2046 34.005C38.5085 35.1786 39.0751 36.2679 39.8617 37.1904C39.3817 37.2904 36.6016 37.9304 35.5176 38.1824C35.0138 38.3206 34.5841 38.6504 34.3203 39.1013C34.0565 39.5522 33.9796 40.0885 34.1061 40.5953C34.2325 41.1022 34.5523 41.5395 34.997 41.8137C35.4417 42.0878 35.976 42.1771 36.4857 42.0624C39.9672 41.0631 43.5493 40.4553 47.1657 40.2504C44.1771 42.7607 40.3966 44.1323 36.4937 44.1224C31.3376 44.1256 26.3303 45.8507 22.2664 49.024C18.2025 52.1973 15.3148 56.637 14.0616 61.6384C13.9536 62.0744 14.0257 63.8264 14.0017 66.1224C14.0017 66.9104 14.1568 67.6906 14.4584 68.4185C14.7599 69.1465 15.2019 69.8079 15.759 70.3651C16.3162 70.9222 16.9776 71.3642 17.7055 71.6657C18.4335 71.9672 19.2137 72.1224 20.0017 72.1224H54.3457C55.9349 72.1173 57.4582 71.4864 58.5857 70.3664L60.0017 68.9504L61.4177 70.3664C62.5452 71.4864 64.0684 72.1173 65.6576 72.1224H76.0017C77.593 72.1224 79.1191 71.4903 80.2443 70.3651C81.3695 69.2398 82.0016 67.7137 82.0016 66.1224V32.1224C82.0016 31.0616 81.5802 30.0441 80.8301 29.294C80.0799 28.5439 79.0625 28.1224 78.0016 28.1224ZM46.0017 36.1224C45.2105 36.1224 44.4372 35.8878 43.7794 35.4483C43.1216 35.0088 42.6089 34.3841 42.3061 33.6532C42.0034 32.9223 41.9242 32.118 42.0785 31.3421C42.2328 30.5661 42.6138 29.8534 43.1732 29.294C43.7326 28.7346 44.4454 28.3536 45.2213 28.1993C45.9972 28.0449 46.8015 28.1242 47.5324 28.4269C48.2633 28.7297 48.888 29.2423 49.3275 29.9001C49.7671 30.5579 50.0017 31.3313 50.0017 32.1224V36.1224H46.0017ZM36.4937 48.1224C38.4942 48.1193 40.4839 47.8283 42.4017 47.2584C43.0851 48.0599 43.8143 48.8212 44.5856 49.5384C44.9612 49.914 45.4705 50.125 46.0017 50.125C46.5328 50.125 47.0421 49.914 47.4177 49.5384C47.7932 49.1629 48.0042 48.6535 48.0042 48.1224C48.0042 47.5913 47.7932 47.082 47.4177 46.7064L46.3137 45.6024C46.8137 45.3304 47.3136 45.0544 47.7896 44.7384L50.5897 47.5384C50.9652 47.914 51.4746 48.125 52.0057 48.125C52.5368 48.125 53.0461 47.914 53.4216 47.5384C53.7972 47.1629 54.0082 46.6535 54.0082 46.1224C54.0082 45.5913 53.7972 45.082 53.4216 44.7064L50.9137 42.2024C51.3137 41.8024 51.7137 41.4024 52.0577 41.0024L54.5897 43.5384C54.7756 43.7244 54.9964 43.8719 55.2393 43.9725C55.4823 44.0732 55.7427 44.125 56.0057 44.125C56.2686 44.125 56.529 44.0732 56.772 43.9725C57.0149 43.8719 57.2357 43.7244 57.4216 43.5384C57.6076 43.3525 57.7551 43.1317 57.8557 42.8888C57.9564 42.6458 58.0082 42.3854 58.0082 42.1224C58.0082 41.8595 57.9564 41.5991 57.8557 41.3561C57.7551 41.1131 57.6076 40.8924 57.4216 40.7064L54.3817 37.6704C55.6897 35.3624 55.8897 34.7584 57.2417 32.1224H78.0016V60.1224H18.7456C20.1643 56.5765 22.6139 53.5376 25.7778 51.3983C28.9417 49.2591 32.6744 48.118 36.4937 48.1224V48.1224ZM76.0017 68.1224H65.6576C64.3936 68.1224 63.9417 67.0864 62.8297 66.1224C62.0673 65.3961 61.0546 64.991 60.0017 64.991C58.9487 64.991 57.9361 65.3961 57.1737 66.1224C56.0577 67.0904 55.6057 68.1224 54.3457 68.1224H20.0017C19.4712 68.1224 18.9625 67.9117 18.5874 67.5366C18.2124 67.1616 18.0017 66.6529 18.0017 66.1224V64.1224H78.0016V66.1224C78.0016 66.6529 77.7909 67.1616 77.4159 67.5366C77.0408 67.9117 76.5321 68.1224 76.0017 68.1224Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Shoes</span>
          </a></li>
          <li class="sidebar__item" name="dress"><a href="/products?page=1&limit=16&category=dress" class="sidebar__item--link">
            <svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M24.0001 67.172C24.1246 71.6218 25.3844 75.966 27.6601 79.792C27.9926 80.4556 28.5032 81.0136 29.1347 81.4035C29.7663 81.7934 30.4938 82 31.2361 82H48.4361C49.329 82.0006 50.1965 81.7025 50.9003 81.153C51.6042 80.6036 52.104 79.8344 52.3201 78.968L54.0001 72.248L55.6801 78.968C55.8962 79.8344 56.3959 80.6036 57.0998 81.153C57.8037 81.7025 58.6711 82.0006 59.5641 82H64.7641C65.5078 82 66.2368 81.7926 66.8692 81.4011C67.5016 81.0097 68.0124 80.4497 68.3441 79.784C70.6209 75.9617 71.8797 71.6194 72.0001 67.172C72.0001 55.404 64.0001 51.724 64.0001 47.212C64.0001 41.612 72.0001 40.656 72.0001 32.788C72.0001 24.272 64.0001 25.136 64.0001 19.844V18C64.0001 16.9391 63.5787 15.9217 62.8285 15.1716C62.0784 14.4214 61.0609 14 60.0001 14H56.0001C54.9392 14 53.9218 14.4214 53.1716 15.1716C52.4215 15.9217 52.0001 16.9391 52.0001 18V20.4C52.0008 21.1796 51.8087 21.9473 51.4409 22.6347C51.0731 23.3222 50.541 23.908 49.8921 24.34C49.1818 24.8128 48.5444 25.3869 48.0001 26.044C47.4558 25.3869 46.8184 24.8128 46.1081 24.34C45.4591 23.908 44.927 23.3222 44.5592 22.6347C44.1915 21.9473 43.9994 21.1796 44.0001 20.4V18C44.0001 16.9391 43.5786 15.9217 42.8285 15.1716C42.0784 14.4214 41.0609 14 40.0001 14H36.0001C34.9392 14 33.9218 14.4214 33.1716 15.1716C32.4215 15.9217 32.0001 16.9391 32.0001 18V19.844C32.0027 20.7218 31.7599 21.5829 31.2991 22.33C30.8383 23.0771 30.1777 23.6805 29.3921 24.072C27.7673 24.8774 26.4008 26.1221 25.4478 27.6648C24.4947 29.2076 23.9931 30.9866 24.0001 32.8C24.0001 40.576 32.0001 41.704 32.0001 47.292C32.0001 51.564 24.0001 55.496 24.0001 67.172ZM28.0001 32.772C28.0001 26.476 36.0001 28.148 36.0001 19.828V18H40.0001V20.4C39.9979 21.8387 40.3523 23.2555 41.0314 24.5238C41.7106 25.7921 42.6934 26.8723 43.8921 27.668C44.5399 28.0993 45.0713 28.6838 45.439 29.3697C45.8067 30.0556 45.9995 30.8217 46.0001 31.6C46.0001 32.1304 46.2108 32.6391 46.5859 33.0142C46.9609 33.3893 47.4696 33.6 48.0001 33.6C48.5305 33.6 49.0392 33.3893 49.4143 33.0142C49.7894 32.6391 50.0001 32.1304 50.0001 31.6C49.9994 30.8204 50.1915 30.0527 50.5592 29.3653C50.927 28.6778 51.4591 28.092 52.1081 27.66C53.3056 26.8651 54.2877 25.7861 54.9668 24.5193C55.6459 23.2525 56.0009 21.8373 56.0001 20.4V18H60.0001V19.844C60.0001 28.244 68.0001 26.436 68.0001 32.788C68.0001 38.436 60.0001 39.34 60.0001 47.28C60.0001 54.3 68.0001 56.164 68.0001 67.172C67.8633 70.9978 66.7508 74.7252 64.7681 78H59.5681L55.9441 63.516C55.7943 63.1228 55.5286 62.7844 55.1821 62.5456C54.8357 62.3069 54.4248 62.179 54.0041 62.179C53.5833 62.179 53.1725 62.3069 52.826 62.5456C52.4796 62.7844 52.2139 63.1228 52.0641 63.516L48.4361 78H31.2361C29.2528 74.7252 28.1389 70.998 28.0001 67.172C28.0001 56.276 36.0001 54.336 36.0001 47.212C36.0001 39.276 28.0001 38.5 28.0001 32.8V32.772Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Dress</span>
          </a></li>
          <li class="sidebar__item" name="acces">
            <a href="/products?page=1&limit=16&category=acces"  class="sidebar__item--link">
              <svg
              class="sidebar__item--icon"
              width="32"
              height="32"
              viewBox="0 0 96 96"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M62 14H33.7599C32.7407 13.998 31.7591 14.3853 31.0157 15.0826C30.2723 15.7799 29.8231 16.7347 29.7599 17.752L26.0079 77.752C25.9735 78.2981 26.0514 78.8455 26.2369 79.3602C26.4225 79.875 26.7116 80.3462 27.0866 80.7448C27.4615 81.1433 27.9142 81.4607 28.4167 81.6773C28.9192 81.8939 29.4608 82.0051 30.0079 82.004H38.1879C39.1348 82.0036 40.0507 81.6673 40.7729 81.055C41.4951 80.4427 41.9767 79.594 42.1319 78.66L47.8799 44.168L53.6279 78.66C53.7841 79.5933 54.266 80.441 54.9881 81.0525C55.7102 81.664 56.6257 81.9997 57.5719 82H65.7519C66.2988 82.0011 66.84 81.89 67.3422 81.6736C67.8444 81.4573 68.2969 81.1403 68.6718 80.7422C69.0467 80.344 69.3359 79.8733 69.5217 79.359C69.7075 78.8447 69.7859 78.2978 69.7519 77.752L66 17.752C65.9368 16.7347 65.4876 15.7799 64.7442 15.0826C64.0008 14.3853 63.0192 13.998 62 14ZM62 18L62.4399 25.044C61.0794 24.4375 59.9243 23.449 59.1148 22.1986C58.3054 20.9481 57.8764 19.4896 57.8799 18H62ZM37.8799 18C37.883 19.4895 37.4538 20.9478 36.6444 22.1982C35.835 23.4485 34.6801 24.4371 33.3199 25.044L33.7599 18H37.8799ZM57.5719 78L49.8519 31.672C49.7731 31.206 49.5319 30.783 49.1709 30.4779C48.8099 30.1729 48.3526 30.0055 47.8799 30.0055C47.4073 30.0055 46.95 30.1729 46.589 30.4779C46.228 30.783 45.9868 31.206 45.9079 31.672L38.1879 78H30.0079L33.0319 29.66C35.5138 28.8407 37.6885 27.2874 39.2684 25.2054C40.8483 23.1234 41.759 20.6108 41.8799 18H45.8799V24C45.8799 24.5304 46.0907 25.0391 46.4657 25.4142C46.8408 25.7893 47.3495 26 47.8799 26C48.4104 26 48.9191 25.7893 49.2942 25.4142C49.6692 25.0391 49.8799 24.5304 49.8799 24V18H53.8799C54.0009 20.6108 54.9116 23.1234 56.4915 25.2054C58.0714 27.2874 60.2461 28.8407 62.7279 29.66L65.7519 78H57.5719Z"
              ></path>
            </svg>
            <span class="sidebar__item--title">Acces</span>
            </a></li>
        </ul>
        <h4 class="sidebar__title">Filter by Price</h4>
        <ul class="sidebar__list" id="priceList" style="margin-left: 20px;">
          <li class="sidebar__item no-border ">
            <input type="radio" id="price1" name="price" class="filter-input" style=" appearance: none;"  />
           <label class="sidebar__item--title check-item" for="price1">
             
              All Price
            </label>

          </li>
          <li class="sidebar__item ">
             <input type="radio" id="price2" name="price" class="filter-input" style=" appearance: none;" value="100-250"/ >
            <label class="sidebar__item--title check-item" for="price2"  value="100-250">
            
              $100 - $250
            </label>
             
          </li>
          <li class="sidebar__item ">
             <input type="radio" id="price3" name="price" class="filter-input" style=" appearance: none;" value="250-500" />
            <label class="sidebar__item--title check-item" for="price3" value="250-500">
             
              $250 - $500
            </label>

          </li>
          <li class="sidebar__item ">
             <input type="radio" id="price4" name="price" class="filter-input" style=" appearance: none;" value="500-750" />
            <label class="sidebar__item--title check-item" for="price4" value="500-750">
             
              $500 - $750
            </label>

          </li>
          <li class="sidebar__item ">
             <input type="radio" id="price5" name="price" class="filter-input" style=" appearance: none;" value="750-1000" />
            <label class="sidebar__item--title check-item" for="price5" value="750-1000">
             
              $750 - $1000
            </label>

          </li>
          <li class="sidebar__item ">
            <input type="radio" id="price6" name="price" class="filter-input" style=" appearance: none;" value="1000-1500"/>
            <label class="sidebar__item--title check-item" for="price6" value="1000-1500">
              
              $1000 - $1500
            </label>

          </li>
        </ul>
        <h4 class="sidebar__title">Filter by Rating</h4>
        <ul class="sidebar__list" style="margin-left: 20px;"  id="rating-list">
          <li class="sidebar__item no-border " >
             <input type="radio" id="rating1" name="rating"  style=" appearance: none;"  class="filter-input" value="1"/>
            <label class="sidebar__item--title check-item" for="rating1" value="1">
             
              <div class="rating-mini">
                <span class="active"></span>

              </div>
            </label>

          </li>
          <li class="sidebar__item ">
             <input type="radio" id="rating2" name="rating" style=" appearance: none;" class="filter-input"value="2" />
            <label class="sidebar__item--title check-item" for="rating2" value="2">
             
              <div class="rating-mini">
                <span class="active"></span>
                <span class="active"></span>

              </div>
            </label>

          </li>
          <li class="sidebar__item ">
             <input type="radio" id="rating3" name="rating" style=" appearance: none;" class="filter-input" value="3"/>
            <label class="sidebar__item--title check-item" for="rating3" value="3">
             
              <div class="rating-mini">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
               

              </div>
            </label>

          </li>
          <li class="sidebar__item ">
            <input type="radio" id="rating4" name="rating" style=" appearance: none;"class="filter-input" value="4"/>
            <label class="sidebar__item--title check-item" for="rating4" value="4">
              
              <div class="rating-mini">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>

              </div>
            </label>

          </li>
          <li class="sidebar__item ">
            <input type="radio" id="rating5" name="rating" style=" appearance: none;" class="filter-input" value="5"/>
            <label class="sidebar__item--title check-item" for="rating5" value="5">
              
              <div class="rating-mini">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
              </div>
            </label>

          </li>
        </ul>
      </div>
      <div class="product-list--a" style="display: flex;
    
    flex-direction: column; align-items: center;">
          <ul class="featured__list" id="productList">
            {{> product-thumb}}
          </ul>
          <button id="loadBtn" class="button cart-btn" style="width: 300px;">Load more</button>
      </div>
      
     </div>
    </section>
    {{!-- Footer --}}
    {{> footer}}
  
 <!-- Mobile-header -->
   {{> mobile-menu}}
    <!-- Modal -->
     {{> modal}}
    
    <script src="dist/mobileMenu.js"></script>
   <script src="dist/addToCartFromThumbs.js"></script>
   <script src="dist/modal.js"></script>
   <script src="dist/register.js"></script>
   <script src="dist/search.js"></script>
   <script src="dist/filter.js"></script>
   <script src="dist/favorite.js"></script>
   <script src="dist/compare.js"></script>


   
  </body>
</html>