   {{> cart-item}}
        <div class="cart__bottom">
            <div class="cart__promo">
                <input type="text" placeholder="Enter coupon code">
                <button>Apply Code</button>
            </div>
            <div class="cart__bottom-wrap">
                <div class="cart__bottom-wrap--total">
                    <p class="cart__bottom--total">Total</p>
                    <p class="cart__bottom--price">$6000</p>
                </div>
                <div>
                    <a href="/products" class="cart__bottom-wrap--btn">Continue Shopping</a>
                    <a   href="/checkout" class="cart__bottom-wrap--btn">Checkout</a>
                </div>
            </div>

        </div>