
   <section class="cart__table">
  <ul id="cart-table">
     <li class="cart__table-body" id="titleForCart">
      <div class="cart__table-data ">Product</div>
      <div class="cart__table-data">Quantity</div>
      <div class="cart__table-data">Price</div>
      <div class="cart__table-data">Total</div>
      <div class="cart__table-data"></div>
    </li>
 </ul>
</section>
        <div class="cart__bottom">
            <div class="cart__promo">
                <input type="text" placeholder="Enter coupon code">
                <button>Apply Code</button>
            </div>
            <div class="cart__bottom-wrap">
                <div class="cart__bottom-wrap--total">
                    <p class="cart__bottom--total">Total</p>
                    <p id="total" class="cart__bottom--price">$</p>
                </div>
                <div>
                    <a href="/products?page=1&limit=16&category=all" class="cart__bottom-wrap--btn">Continue Shopping</a>
                    <a id="checkoutBtn"  href="/checkout" class="cart__bottom-wrap--btn">Checkout</a>
                </div>
            </div>
        </div>