<div class="checkout">
  <div class="checkout__item">
    <span>1</span>
    <p>Shopping Cart</p>
  </div>
  <div  class="checkout__item">
    <span>2</span>
    <p>Checkout</p>
  </div>
  <div  class="checkout__item no-active">
    <span>3</span>
    <p>Completed</p>
  </div>
</div>

<div class="checkout">
  <div class="checkout__buyer">
    <p class="checkout__title">Buyer Info</p>
    <form action="" class="checkout__buyer-form">
      <label for="name">Full Name

      </label><input type="text" id="name" />
      <label for="address">Address

      </label>
      <input type="text" id="address" />
      <label for="phone">Contact

      </label>
      <input type="phone" id="phone" />
      <label for="city">City

      </label><input type="text" id="city" />
      <div class="checkout__wrap">
        <div class="checkout__wrap-m">
          <label for="state">State</label>
          <select name="" id="state" class="select">
            <option value="Select State">Select State</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Maryland">Maryland</option>
            <option value="New-Mexico">New Mexico</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="New-Hampshire">New Hampshire</option>
          </select>
        </div>
        <div class="checkout__wrap-m">
          <label for="zip">Zip Code
          </label>
          <input type="text" id="zip" />
        </div>
      </div>
    </form>
  </div>
  <div>
    <p class="checkout__title">Payment Method</p>
    <div class="checkout__btns">
      <button>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path
            d="M35.8674 8.75C35.8674 9.50391 35.8674 10.2617 35.8674 11.0156C35.8674 12.8203 35.8674 14.625 35.8674 16.4258C35.8674 18.6016 35.8674 20.7773 35.8674 22.9531C35.8674 24.8281 35.8674 26.7031 35.8674 28.5742C35.8674 29.457 35.8713 30.3398 35.8674 31.2227C35.8674 31.3047 35.8635 31.3828 35.8518 31.4648C35.8713 31.3281 35.8909 31.1875 35.9065 31.0508C35.887 31.1914 35.8518 31.3242 35.801 31.457C35.8518 31.332 35.9065 31.207 35.9573 31.082C35.8948 31.2266 35.8206 31.3594 35.7268 31.4805C35.8088 31.375 35.8909 31.2695 35.9729 31.1641C35.887 31.2695 35.7932 31.3672 35.6838 31.4531C35.7893 31.3711 35.8948 31.2891 36.0002 31.207C35.8752 31.3008 35.7424 31.3789 35.6018 31.4375C35.7268 31.3867 35.8518 31.332 35.9768 31.2812C35.844 31.332 35.7112 31.3672 35.5706 31.3867C35.7073 31.3672 35.8479 31.3477 35.9846 31.332C35.6526 31.3711 35.3049 31.3477 34.969 31.3477C34.2112 31.3477 33.4495 31.3477 32.6917 31.3477C31.5588 31.3477 30.426 31.3477 29.2932 31.3477C27.9065 31.3477 26.5198 31.3477 25.1331 31.3477C23.6135 31.3477 22.0901 31.3477 20.5706 31.3477C19.0354 31.3477 17.5002 31.3477 15.9612 31.3477C14.5315 31.3477 13.0979 31.3477 11.6682 31.3477C10.4612 31.3477 9.25806 31.3477 8.05103 31.3477C7.18774 31.3477 6.32837 31.3477 5.46509 31.3477C5.06665 31.3477 4.67212 31.3477 4.27368 31.3477C4.18774 31.3477 4.10181 31.3437 4.01587 31.332C4.15259 31.3516 4.29321 31.3711 4.42993 31.3867C4.28931 31.3672 4.15649 31.332 4.02368 31.2812C4.14868 31.332 4.27368 31.3867 4.39868 31.4375C4.25415 31.375 4.12134 31.3008 4.00024 31.207C4.10571 31.2891 4.21118 31.3711 4.31665 31.4531C4.21118 31.3672 4.11353 31.2734 4.02759 31.1641C4.10962 31.2695 4.19165 31.375 4.27368 31.4805C4.17993 31.3555 4.10181 31.2227 4.04321 31.082C4.09399 31.207 4.14868 31.332 4.19946 31.457C4.14868 31.3242 4.11353 31.1914 4.09399 31.0508C4.11353 31.1875 4.13306 31.3281 4.14868 31.4648C4.12134 31.207 4.13306 30.9453 4.13306 30.6875C4.13306 30.1445 4.13306 29.6016 4.13306 29.0586C4.13306 27.2617 4.13306 25.4648 4.13306 23.668C4.13306 21.4883 4.13306 19.3047 4.13306 17.125C4.13306 15.2344 4.13306 13.3438 4.13306 11.4531C4.13306 10.5625 4.12915 9.67187 4.13306 8.77734C4.13306 8.69531 4.13696 8.61719 4.14868 8.53516C4.12915 8.67187 4.10962 8.8125 4.09399 8.94922C4.11353 8.80859 4.14868 8.67578 4.19946 8.54297C4.14868 8.66797 4.09399 8.79297 4.04321 8.91797C4.10571 8.77344 4.17993 8.64062 4.27368 8.51953C4.19165 8.625 4.10962 8.73047 4.02759 8.83594C4.11353 8.73047 4.20728 8.63281 4.31665 8.54687C4.21118 8.62891 4.10571 8.71094 4.00024 8.79297C4.12524 8.69922 4.25806 8.62109 4.39868 8.5625C4.27368 8.61328 4.14868 8.66797 4.02368 8.71875C4.15649 8.66797 4.28931 8.63281 4.42993 8.61328C4.29321 8.63281 4.15259 8.65234 4.01587 8.66797C4.3479 8.62891 4.69556 8.65234 5.03149 8.65234C5.78931 8.65234 6.55103 8.65234 7.30884 8.65234C8.44165 8.65234 9.57446 8.65234 10.7073 8.65234C12.094 8.65234 13.4807 8.65234 14.8674 8.65234C16.387 8.65234 17.9104 8.65234 19.4299 8.65234C20.9651 8.65234 22.5002 8.65234 24.0393 8.65234C25.469 8.65234 26.9026 8.65234 28.3323 8.65234C29.5393 8.65234 30.7424 8.65234 31.9495 8.65234C32.8127 8.65234 33.6721 8.65234 34.5354 8.65234C34.9338 8.65234 35.3284 8.65234 35.7268 8.65234C35.8127 8.65234 35.8987 8.65625 35.9846 8.66797C35.8479 8.64844 35.7073 8.62891 35.5706 8.61328C35.7112 8.63281 35.844 8.66797 35.9768 8.71875C35.8518 8.66797 35.7268 8.61328 35.6018 8.5625C35.7463 8.625 35.8792 8.69922 36.0002 8.79297C35.8948 8.71094 35.7893 8.62891 35.6838 8.54687C35.7893 8.63281 35.887 8.72656 35.9729 8.83594C35.8909 8.73047 35.8088 8.625 35.7268 8.51953C35.8206 8.64453 35.8987 8.77734 35.9573 8.91797C35.9065 8.79297 35.8518 8.66797 35.801 8.54297C35.8518 8.67578 35.887 8.80859 35.9065 8.94922C35.887 8.8125 35.8674 8.67187 35.8518 8.53516C35.8635 8.60547 35.8674 8.67578 35.8674 8.75C35.8752 9.15625 36.0354 9.56641 36.3245 9.85547C36.594 10.125 37.0393 10.332 37.4299 10.3125C38.2659 10.2734 39.0081 9.625 38.9924 8.75C38.9807 7.90625 38.6604 7.12109 38.0823 6.50391C37.5081 5.89453 36.7229 5.59375 35.9026 5.52734C35.8049 5.51953 35.7034 5.52344 35.6018 5.52344C35.1682 5.52344 34.7346 5.52344 34.3049 5.52344C33.5081 5.52344 32.7073 5.52344 31.9104 5.52344C30.8362 5.52344 29.7581 5.52344 28.6838 5.52344C27.426 5.52344 26.1643 5.52344 24.9065 5.52344C23.5393 5.52344 22.1682 5.52344 20.801 5.52344C19.4143 5.52344 18.0315 5.52344 16.6448 5.52344C15.3362 5.52344 14.0276 5.52344 12.719 5.52344C11.5588 5.52344 10.4026 5.52344 9.24243 5.52344C8.33228 5.52344 7.41821 5.52344 6.50806 5.52344C5.92212 5.52344 5.33618 5.52344 4.75024 5.52344C4.60962 5.52344 4.46899 5.52344 4.32446 5.52344C3.77368 5.52344 3.26978 5.64844 2.76978 5.87891C2.17212 6.15234 1.61743 6.71484 1.3479 7.3125C1.13306 7.78906 1.00806 8.23047 1.00415 8.76172C1.00415 8.87891 1.00415 8.99609 1.00415 9.11719C1.00415 9.76953 1.00415 10.4258 1.00415 11.0781C1.00415 12.1445 1.00415 13.2109 1.00415 14.2812C1.00415 15.5859 1.00415 16.8906 1.00415 18.1953C1.00415 19.5781 1.00415 20.9648 1.00415 22.3477C1.00415 23.6367 1.00415 24.9219 1.00415 26.2109C1.00415 27.2266 1.00415 28.2461 1.00415 29.2617C1.00415 29.8477 1.00415 30.4336 1.00415 31.0234C1.00415 31.1367 1.00024 31.25 1.00806 31.3633C1.06274 32.1875 1.36743 32.9687 1.96899 33.5508C2.57056 34.1328 3.36743 34.4609 4.20337 34.4766C4.44165 34.4805 4.67603 34.4766 4.91431 34.4766C5.54712 34.4766 6.17993 34.4766 6.81665 34.4766C7.76978 34.4766 8.7229 34.4766 9.67603 34.4766C10.8557 34.4766 12.0354 34.4766 13.2151 34.4766C14.5432 34.4766 15.8752 34.4766 17.2034 34.4766C18.5862 34.4766 19.9651 34.4766 21.3479 34.4766C22.7073 34.4766 24.0667 34.4766 25.4299 34.4766C26.676 34.4766 27.9182 34.4766 29.1643 34.4766C30.2034 34.4766 31.2424 34.4766 32.2815 34.4766C33.0354 34.4766 33.7932 34.4766 34.5471 34.4766C34.926 34.4766 35.3049 34.4766 35.6877 34.4766C36.2659 34.4766 36.8127 34.3437 37.3245 34.0781C38.3674 33.5391 38.9846 32.3828 38.9963 31.2344C39.0002 30.8398 38.9963 30.4492 38.9963 30.0547C38.9963 29.1641 38.9963 28.2773 38.9963 27.3867C38.9963 26.1797 38.9963 24.9687 38.9963 23.7617C38.9963 22.3906 38.9963 21.0234 38.9963 19.6523C38.9963 18.2969 38.9963 16.9414 38.9963 15.5859C38.9963 14.418 38.9963 13.2539 38.9963 12.0859C38.9963 11.2695 38.9963 10.4492 38.9963 9.63281C38.9963 9.33984 38.9963 9.04687 38.9963 8.75C38.9963 7.93359 38.2776 7.14844 37.4338 7.1875C36.5862 7.22656 35.8674 7.875 35.8674 8.75Z"
            fill="#393D46"
          ></path>
          <path
            d="M35.8669 12.9998C35.8669 14.5662 35.8669 16.1326 35.8669 17.699C35.8669 17.9178 35.8669 18.1365 35.8669 18.3553C36.3865 17.8357 36.9099 17.3123 37.4294 16.7928C37.1169 16.7928 36.8044 16.7928 36.4919 16.7928C35.6482 16.7928 34.8044 16.7928 33.9568 16.7928C32.7068 16.7928 31.4607 16.7928 30.2107 16.7928C28.6833 16.7928 27.1521 16.7928 25.6248 16.7928C23.9568 16.7928 22.2888 16.7928 20.6208 16.7928C18.9294 16.7928 17.238 16.7928 15.5505 16.7928C13.9802 16.7928 12.4099 16.7928 10.8396 16.7928C9.50757 16.7928 8.17554 16.7928 6.84351 16.7928C5.89038 16.7928 4.93726 16.7928 3.98022 16.7928C3.5271 16.7928 3.07397 16.7849 2.62476 16.7928C2.60522 16.7928 2.58569 16.7928 2.56616 16.7928C3.08569 17.3123 3.60913 17.8357 4.12866 18.3553C4.12866 16.7888 4.12866 15.2224 4.12866 13.656C4.12866 13.4373 4.12866 13.2185 4.12866 12.9998C3.60913 13.5193 3.08569 14.0428 2.56616 14.5623C2.87866 14.5623 3.19116 14.5623 3.50366 14.5623C4.34741 14.5623 5.19116 14.5623 6.03882 14.5623C7.28882 14.5623 8.53491 14.5623 9.78491 14.5623C11.3123 14.5623 12.8435 14.5623 14.3708 14.5623C16.0388 14.5623 17.7068 14.5623 19.3748 14.5623C21.0662 14.5623 22.7576 14.5623 24.4451 14.5623C26.0154 14.5623 27.5857 14.5623 29.156 14.5623C30.488 14.5623 31.8201 14.5623 33.1521 14.5623C34.1052 14.5623 35.0583 14.5623 36.0154 14.5623C36.4685 14.5623 36.9216 14.5662 37.3708 14.5623C37.3904 14.5623 37.4099 14.5623 37.4294 14.5623C38.2458 14.5623 39.031 13.8435 38.9919 12.9998C38.9529 12.1521 38.3044 11.4373 37.4294 11.4373C37.1169 11.4373 36.8044 11.4373 36.4919 11.4373C35.6482 11.4373 34.8044 11.4373 33.9568 11.4373C32.7068 11.4373 31.4607 11.4373 30.2107 11.4373C28.6833 11.4373 27.1521 11.4373 25.6248 11.4373C23.9568 11.4373 22.2888 11.4373 20.6208 11.4373C18.9294 11.4373 17.238 11.4373 15.5505 11.4373C13.9802 11.4373 12.4099 11.4373 10.8396 11.4373C9.50757 11.4373 8.17554 11.4373 6.84351 11.4373C5.89038 11.4373 4.93726 11.4373 3.98022 11.4373C3.5271 11.4373 3.07397 11.4334 2.62476 11.4373C2.60522 11.4373 2.58569 11.4373 2.56616 11.4373C1.72241 11.4373 1.00366 12.1521 1.00366 12.9998C1.00366 14.5662 1.00366 16.1326 1.00366 17.699C1.00366 17.9178 1.00366 18.1365 1.00366 18.3553C1.00366 19.199 1.71851 19.9178 2.56616 19.9178C2.87866 19.9178 3.19116 19.9178 3.50366 19.9178C4.34741 19.9178 5.19116 19.9178 6.03882 19.9178C7.28882 19.9178 8.53491 19.9178 9.78491 19.9178C11.3123 19.9178 12.8435 19.9178 14.3708 19.9178C16.0388 19.9178 17.7068 19.9178 19.3748 19.9178C21.0662 19.9178 22.7576 19.9178 24.4451 19.9178C26.0154 19.9178 27.5857 19.9178 29.156 19.9178C30.488 19.9178 31.8201 19.9178 33.1521 19.9178C34.1052 19.9178 35.0583 19.9178 36.0154 19.9178C36.4685 19.9178 36.9216 19.9217 37.3708 19.9178C37.3904 19.9178 37.4099 19.9178 37.4294 19.9178C38.2732 19.9178 38.9919 19.2029 38.9919 18.3553C38.9919 16.7888 38.9919 15.2224 38.9919 13.656C38.9919 13.4373 38.9919 13.2185 38.9919 12.9998C38.9919 12.1834 38.2732 11.3982 37.4294 11.4373C36.5857 11.4724 35.8669 12.1209 35.8669 12.9998ZM8.22632 27.0545C9.31616 27.0545 10.406 27.0545 11.4958 27.0545C13.2263 27.0545 14.9568 27.0545 16.6873 27.0545C17.0857 27.0545 17.4841 27.0545 17.8787 27.0545C18.6951 27.0545 19.4802 26.3357 19.4412 25.492C19.4021 24.6443 18.7537 23.9295 17.8787 23.9295C16.7888 23.9295 15.699 23.9295 14.6091 23.9295C12.8787 23.9295 11.1482 23.9295 9.41772 23.9295C9.01929 23.9295 8.62085 23.9295 8.22632 23.9295C7.40991 23.9295 6.62476 24.6482 6.66382 25.492C6.69898 26.3396 7.34741 27.0545 8.22632 27.0545Z"
            fill="#393D46"
          ></path>
        </svg>Credit Card</button>
      <button>
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="40" height="40" fill="none"></rect>
          <path
            d="M3.33323 18.3334V8.33338C3.33323 7.89135 3.50883 7.46743 3.82139 7.15487C4.13395 6.84231 4.55787 6.66671 4.9999 6.66671H30.9832L30.4999 6.18338C30.2269 5.86454 30.0842 5.45442 30.1004 5.03496C30.1166 4.6155 30.2905 4.2176 30.5873 3.92077C30.8841 3.62395 31.282 3.45006 31.7015 3.43386C32.1209 3.41766 32.5311 3.56034 32.8499 3.83338L36.1832 7.16671C36.4936 7.47898 36.6679 7.9014 36.6679 8.34171C36.6679 8.78202 36.4936 9.20444 36.1832 9.51671L32.8499 12.85C32.5311 13.1231 32.1209 13.2658 31.7015 13.2496C31.282 13.2334 30.8841 13.0595 30.5873 12.7627C30.2905 12.4658 30.1166 12.0679 30.1004 11.6485C30.0842 11.229 30.2269 10.8189 30.4999 10.5L30.9832 10H6.66656V18.3334C6.66656 18.7754 6.49097 19.1993 6.17841 19.5119C5.86585 19.8245 5.44192 20 4.9999 20C4.55787 20 4.13395 19.8245 3.82139 19.5119C3.50883 19.1993 3.33323 18.7754 3.33323 18.3334ZM34.9999 20C34.5579 20 34.1339 20.1756 33.8214 20.4882C33.5088 20.8008 33.3332 21.2247 33.3332 21.6667V30H9.01656L9.4999 29.5167C9.77294 29.1979 9.91562 28.7878 9.89942 28.3683C9.88321 27.9488 9.70933 27.5509 9.4125 27.2541C9.11568 26.9573 8.71778 26.7834 8.29832 26.7672C7.87886 26.751 7.46873 26.8937 7.1499 27.1667L3.81656 30.5C3.50615 30.8123 3.33191 31.2347 3.33191 31.675C3.33191 32.1154 3.50615 32.5378 3.81656 32.85L7.1499 36.1834C7.46873 36.4564 7.87886 36.5991 8.29832 36.5829C8.71778 36.5667 9.11568 36.3928 9.4125 36.096C9.70933 35.7992 9.88321 35.4013 9.89942 34.9818C9.91562 34.5623 9.77294 34.1522 9.4999 33.8334L9.01656 33.3334H34.9999C35.4419 33.3334 35.8658 33.1578 36.1784 32.8452C36.491 32.5327 36.6666 32.1087 36.6666 31.6667V21.6667C36.6666 21.2247 36.491 20.8008 36.1784 20.4882C35.8658 20.1756 35.4419 20 34.9999 20Z"
            fill="#393D46"
          ></path>
        </svg>Bank Transfer</button>
      <button>
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.0616 11.8407C33.7739 11.518 33.454 11.2255 33.107 10.9677C33.2495 9.85116 33.151 8.71709 32.8181 7.64188C32.4853 6.56666 31.9259 5.57528 31.1775 4.73454C29.3709 2.6984 26.2915 1.6665 22.0239 1.6665H11.6674C10.9192 1.6685 10.1961 1.93642 9.62725 2.42241C9.05838 2.9084 8.68081 3.5808 8.56198 4.3195L4.24556 31.6633C4.1845 32.0298 4.20409 32.4052 4.30299 32.7633C4.40188 33.1215 4.57769 33.4538 4.81817 33.737C5.05865 34.0203 5.358 34.2477 5.69537 34.4034C6.03274 34.5591 6.4 34.6393 6.77156 34.6385H11.2117L11.075 35.506C11.0198 35.855 11.0408 36.2118 11.1367 36.5518C11.2326 36.8919 11.401 37.2071 11.6304 37.4758C11.8598 37.7445 12.1447 37.9603 12.4655 38.1083C12.7863 38.2563 13.1354 38.333 13.4887 38.3332H18.8794C19.5777 38.3387 20.2551 38.0952 20.79 37.6462C21.3248 37.1973 21.6821 36.5723 21.7977 35.8836L22.8654 29.1649L22.8833 29.0737H23.3814C30.1017 29.0737 34.2993 25.7518 35.5233 19.4692C35.8967 18.1723 35.9589 16.8056 35.705 15.4801C35.451 14.1546 34.888 12.9077 34.0616 11.8407ZM13.0704 22.84L11.8796 30.3988L11.7358 31.3052H7.67656L11.8286 4.99984H22.0239C25.2498 4.99984 27.5529 5.67367 28.6775 6.93994C29.2084 7.55718 29.5786 8.29595 29.7554 9.09067C29.9321 9.88538 29.9099 10.7114 29.6907 11.4955L29.6597 11.6826C29.6394 11.81 29.621 11.9346 29.5874 12.0929C29.2659 14.4745 28.0758 16.6532 26.2455 18.2105C24.1908 19.6394 21.7144 20.334 19.2163 20.1822H16.1775C15.4272 20.1796 14.7008 20.4465 14.1306 20.9343C13.5604 21.4221 13.1842 22.0983 13.0704 22.84ZM32.2517 18.8312C31.3338 23.5448 28.5148 25.7404 23.3813 25.7404H22.5756C21.8766 25.735 21.1986 25.9792 20.6636 26.4292C20.1286 26.8791 19.7718 27.5052 19.6573 28.1948L18.575 34.9852L14.5288 34.9998L15.3257 29.9434L16.3443 23.522H19.2098C19.4711 23.522 19.7021 23.4827 19.9566 23.4738C20.5547 23.4531 21.151 23.4301 21.7111 23.3606C22.0532 23.318 22.3671 23.2403 22.695 23.1795C23.1492 23.0955 23.6037 23.0125 24.0301 22.894C24.3474 22.8057 24.6434 22.692 24.9452 22.5847C25.344 22.4432 25.7366 22.2947 26.1078 22.1202C26.3878 21.9884 26.6546 21.8418 26.9188 21.6914C27.2705 21.4922 27.6111 21.2743 27.9394 21.0386C28.1765 20.8676 28.4093 20.6921 28.6311 20.5036C28.9455 20.2325 29.2443 19.9437 29.526 19.6387C29.7143 19.4378 29.9071 19.2428 30.0815 19.0266C30.3708 18.658 30.6379 18.2725 30.8815 17.8722C31.0089 17.6686 31.1502 17.4802 31.2675 17.2658C31.6051 16.6481 31.8953 16.0055 32.1354 15.3437C32.1499 15.304 32.1705 15.2704 32.1847 15.2304C32.1913 15.2117 32.2012 15.1961 32.2078 15.1773C32.538 16.371 32.5532 17.6299 32.2517 18.8312Z"
            fill="#393D46"
          ></path>
        </svg>Paypal</button>
    </div>
    <form action="" class="checkout__buyer-form">
      <label for="cardName">Name on Card</label>
      <input type="text" id="cardName"  />

      <div class="checkout__wrap">
       <div class="checkout__wrap-m" style="width: 78%;">
            <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber"  />
       </div>
        <div class="checkout__wrap-m">
            <label for="cvv">CVV</label>
        <input type="text" id="cvv" />
        </div>
      </div>
      <div class="checkout__wrap" style="margin-bottom: 75px;">
        <div class="checkout__wrap-m" style="width: 50%;">
            <label for="month">Month</label>
          <select name="" id="month" aria-placeholder="Select Month">
            <option value="Select Month">Select Month</option>
            <option value="January">January</option>
            <option value="March">March</option>
            <option value="July">July</option>
            <option value="September">September</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        
        </div>
       <div class="checkout__wrap-m" style="width: 50%;">
            <label for="year">Year</label>
          <select name="" id="year" aria-placeholder="Select Year">
            <option value="Select Month">Select Month</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
          </select>
       </div>
        
      </div>
      <a href="/completed" class="checkout-btn">Checkout</a>
    </form>
  </div>
</div>