 <section class="cart__table">

  <ul id="compare-table">
     <li class="cart__table-body" id="titleForCart">
      <div class="cart__table-data">Product</div>
      <div class="cart__table-data">Description</div>
      <div class="cart__table-data">Price</div>
    <div class="cart__table-data"></div>
    <div class="cart__table-data"></div>
      <div class="cart__table-data"></div>
    </li>
 </ul>

</section>
        <div class="cart__bottom">
            <div class="cart__bottom-wrap">
                <div>
                    <a href="/products?page=1&limit=16&category=all" class="cart__bottom-wrap--btn">Continue Shopping</a>
                </div>
            </div>

        </div>