  <footer class=" container-shop footer">
        <section class="footer__section">
            <div class="footer__chunk footer__chunk--mob">
                <h4>Join our Newsletter</h4>
                <p>Drop your email below to get update about us, lastest news, tips, and more!</p>
                <form action="">
                    <label for="">
                        <input class="footer__chunk--input" type="text" placeholder="Enter your email">
                    </label>
                </form>
            </div>
            <div class="footer__chunk">
                <h4>Product Links</h4>
                <ul class="footer__chunk--list">
                    <li><a>Categories</a></li>
                    <li><a>New Arrival</a></li>
                    <li><a>Features</a></li>
                    <li><a>Collections</a></li>
                </ul>
            </div>
            <div class="footer__chunk">
                <h4>Company</h4>
                <ul class="footer__chunk--list">
                    <li><a>About</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Careers</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Services</a></li>
                </ul>
            </div>
            <div class="footer__chunk">
                <h4>Support</h4>
                <ul class="footer__chunk--list">
                    <li><a>Support Center</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Contact</a></li>
                    <li><a>Terms of service</a></li>
                </ul>
            </div>
            <div class="footer__chunk">
                <h4>Get In Touch</h4>
                <ul class="footer__chunk--list footer-socials">
                    <li><a>{{> svg-insta}}</a></li>
                    <li><a>{{> svg-twitter}}</a></li>
                    <li><a>{{> svg-facebook}}</a></li>
                </ul>
            </div>
        </section>
    </footer>