    <header class="container-shop header">
      <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
          aria-label="Кнопка открытия мобильного меню"
        >
          {{> svg-openMenu}}
        </button>

      <a href="/homepage" class="header__logo-link">
       {{> svg-logo}}
        Elliye
      </a>

      <nav class="header__nav">
        <a href="/products?page=1&limit=16&category=all" class="header__nav-link">Categories</a>
        <a href="/new-arrivals?page=1&limit=16" class="header__nav-link">New Arrival</a>
        <a href="/about?page=1&limit=8" class="header__nav-link">About Us</a>
        <a href="/shops" class="header__nav-link">Our shops</a>
      </nav>
      <div class="header__user-corner">
        <form class="header__nav" id="search-form">
           <p id="userBonus"  class="header__icon-search blink">BONUS</p>
            <input type="search" class="header__search-input" id="search" />
          <a href="/cart">
            {{> svg-cart}}
          </a>
        </form>
        <button
          class="button header-btn"
          id="loginBtn"
          data-modal-open
          type="button"
        >Login</button>
      </div>
      <div>
        <select name="" id="currency">
          <option value="currency">Currency</option>
          <option value="EUR" id="EUR">EUR</option>
          <option value="USD" id="USD">USD</option>
          <option value="AED" id="AED">AED</option>
          <option value="UAH" id="UAH">UAH</option>
          <option value="GBP" id="GBP">GBP</option>
          <option value="CZK" id="CZK">CZK</option>
        </select>
      </div>
{{> svg-wishListForHeader}}
    </header>