    <header class="container-shop header">
      <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
          aria-label="Кнопка открытия мобильного меню"
        >
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">

<path d="M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z"></path>
</svg>
        </button>

      <a href="/homepage" class="header__logo-link">
        <svg
          width="39"
          height="24"
          viewBox="0 0 39 24"
          fill="none"
          class="header__logo-icon"
        >
          <circle cx="12" cy="12" r="12" fill="#393D46"></circle>
          <circle
            cx="27"
            cy="12"
            r="10"
            fill="#393D46"
            stroke="white"
            stroke-width="4"
          ></circle>
        </svg>
        Elliye
      </a>

      <nav class="header__nav">
        <a href="/products?page=1&limit=16&category=all" class="header__nav-link">Categories</a>
        <a href="/new-arrivals?page=1&limit=16" class="header__nav-link">New Arrival</a>
        <a href="/about?page=1&limit=8" class="header__nav-link">About Us</a>
        <a href="/shops" class="header__nav-link">Our shops</a>
      </nav>
      <div class="header__user-corner">
        <form class="header__nav" id="search-form">
          {{!-- <label for="search" style="margin-bottom: 0px;"> --}}
            {{!-- <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="#393D46"
              class="header__icon-search"
            >
              <path
                d="M20.71 19.29L17.31 15.9C18.407 14.5025 19.0022 12.7767 19 11C19 9.41775 18.5308 7.87103 17.6518 6.55544C16.7727 5.23985 15.5233 4.21447 14.0615 3.60897C12.5997 3.00347 10.9911 2.84504 9.43928 3.15372C7.88743 3.4624 6.46197 4.22433 5.34315 5.34315C4.22433 6.46197 3.4624 7.88743 3.15372 9.43928C2.84504 10.9911 3.00347 12.5997 3.60897 14.0615C4.21447 15.5233 5.23985 16.7727 6.55544 17.6518C7.87103 18.5308 9.41775 19 11 19C12.7767 19.0022 14.5025 18.407 15.9 17.31L19.29 20.71C19.383 20.8037 19.4936 20.8781 19.6154 20.9289C19.7373 20.9797 19.868 21.0058 20 21.0058C20.132 21.0058 20.2627 20.9797 20.3846 20.9289C20.5064 20.8781 20.617 20.8037 20.71 20.71C20.8037 20.617 20.8781 20.5064 20.9289 20.3846C20.9797 20.2627 21.0058 20.132 21.0058 20C21.0058 19.868 20.9797 19.7373 20.9289 19.6154C20.8781 19.4936 20.8037 19.383 20.71 19.29ZM5 11C5 9.81332 5.3519 8.65328 6.01119 7.66658C6.67047 6.67989 7.60755 5.91085 8.7039 5.45673C9.80026 5.0026 11.0067 4.88378 12.1705 5.11529C13.3344 5.3468 14.4035 5.91825 15.2426 6.75736C16.0818 7.59648 16.6532 8.66558 16.8847 9.82946C17.1162 10.9933 16.9974 12.1997 16.5433 13.2961C16.0892 14.3925 15.3201 15.3295 14.3334 15.9888C13.3467 16.6481 12.1867 17 11 17C9.4087 17 7.88258 16.3679 6.75736 15.2426C5.63214 14.1174 5 12.5913 5 11Z"
                fill="#393D46"
              ></path>
            </svg> </label> --}}

            <p id="userBonus"  class="header__icon-search" style="color: var(--accent-color); font-weight: bold; cursor: pointer;">BONUS</p>
            <input type="search" class="header__search-input" id="search" />
         
          <a href="/cart">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="#393D46">
              <path
                d="M8.5 19C8.20333 19 7.91332 19.088 7.66664 19.2528C7.41997 19.4176 7.22771 19.6519 7.11418 19.926C7.00065 20.2001 6.97094 20.5017 7.02882 20.7926C7.0867 21.0836 7.22956 21.3509 7.43934 21.5607C7.64912 21.7704 7.91639 21.9133 8.20736 21.9712C8.49834 22.0291 8.79994 21.9993 9.07403 21.8858C9.34811 21.7723 9.58238 21.58 9.7472 21.3334C9.91203 21.0867 10 20.7967 10 20.5C10 20.1022 9.84196 19.7206 9.56066 19.4393C9.27936 19.158 8.89782 19 8.5 19ZM19 16H7C6.73478 16 6.48043 15.8946 6.29289 15.7071C6.10536 15.5196 6 15.2652 6 15C6 14.7348 6.10536 14.4804 6.29289 14.2929C6.48043 14.1054 6.73478 14 7 14H15.4912C16.1426 13.9979 16.7758 13.7847 17.2959 13.3925C17.816 13.0002 18.195 12.45 18.376 11.8242L19.9614 6.2749C20.004 6.12607 20.0114 5.9694 19.9831 5.81722C19.9548 5.66505 19.8915 5.52152 19.7983 5.39793C19.7051 5.27435 19.5845 5.17408 19.446 5.10503C19.3075 5.03598 19.1548 5.00003 19 5H6.73907C6.53206 4.41736 6.15044 3.91271 5.64622 3.55481C5.14201 3.19692 4.53971 3.00318 3.92139 3H3C2.73478 3 2.48043 3.10536 2.29289 3.29289C2.10536 3.48043 2 3.73478 2 4C2 4.26522 2.10536 4.51957 2.29289 4.70711C2.48043 4.89464 2.73478 5 3 5H3.92139C4.13847 5.00076 4.34947 5.07182 4.52279 5.20253C4.6961 5.33325 4.82242 5.51659 4.88281 5.7251L5.03833 6.26984L5.03857 6.2749L6.6792 12.0171C5.91576 12.0992 5.21287 12.4709 4.71527 13.0557C4.21766 13.6405 3.96321 14.3938 4.00433 15.1606C4.04544 15.9273 4.37898 16.6491 4.93626 17.1773C5.49355 17.7055 6.23216 18 7 18H19C19.2652 18 19.5196 17.8946 19.7071 17.7071C19.8946 17.5196 20 17.2652 20 17C20 16.7348 19.8946 16.4804 19.7071 16.2929C19.5196 16.1054 19.2652 16 19 16ZM17.6743 7L16.4531 11.2744C16.3928 11.4831 16.2664 11.6666 16.093 11.7974C15.9196 11.9282 15.7084 11.9993 15.4912 12H8.75439L8.49945 11.1078L7.32642 7H17.6743ZM16.5 19C16.2033 19 15.9133 19.088 15.6666 19.2528C15.42 19.4176 15.2277 19.6519 15.1142 19.926C15.0006 20.2001 14.9709 20.5017 15.0288 20.7926C15.0867 21.0836 15.2296 21.3509 15.4393 21.5607C15.6491 21.7704 15.9164 21.9133 16.2074 21.9712C16.4983 22.0291 16.7999 21.9993 17.074 21.8858C17.3481 21.7723 17.5824 21.58 17.7472 21.3334C17.912 21.0867 18 20.7967 18 20.5C18 20.1022 17.842 19.7206 17.5607 19.4393C17.2794 19.158 16.8978 19 16.5 19Z"
                fill="#393D46"
              ></path>
            </svg>
          </a>
        </form>
        <button
          class="button header-btn"
          id="loginBtn"
          data-modal-open
          type="button"
        >Login</button>
      </div>
       <div class="iconsWrapForHeader">
                   <a href="/favorite"> <svg class="favoriteIcon" version="1.1" id="favoriteIcon"  x="0px" y="0px"
	 viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve">
<g>
	<g>
		<path d="M222.5,453.7c6.1,6.1,14.3,9.5,22.9,9.5c8.5,0,16.9-3.5,22.9-9.5L448,274c27.3-27.3,42.3-63.6,42.4-102.1
			c0-38.6-15-74.9-42.3-102.2S384.6,27.4,346,27.4c-37.9,0-73.6,14.5-100.7,40.9c-27.2-26.5-63-41.1-101-41.1
			c-38.5,0-74.7,15-102,42.2C15,96.7,0,133,0,171.6c0,38.5,15.1,74.8,42.4,102.1L222.5,453.7z M59.7,86.8
			c22.6-22.6,52.7-35.1,84.7-35.1s62.2,12.5,84.9,35.2l7.4,7.4c2.3,2.3,5.4,3.6,8.7,3.6l0,0c3.2,0,6.4-1.3,8.7-3.6l7.2-7.2
			c22.7-22.7,52.8-35.2,84.9-35.2c32,0,62.1,12.5,84.7,35.1c22.7,22.7,35.1,52.8,35.1,84.8s-12.5,62.1-35.2,84.8L251,436.4
			c-2.9,2.9-8.2,2.9-11.2,0l-180-180c-22.7-22.7-35.2-52.8-35.2-84.8C24.6,139.6,37.1,109.5,59.7,86.8z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg></a>
<a href="/compare" ><svg id="compareIcon" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M19.75 17.5a1.75 1.75 0 100 3.5 1.75 1.75 0 000-3.5zm-3.25 1.75a3.25 3.25 0 116.5 0 3.25 3.25 0 01-6.5 0z"/><path fill-rule="evenodd" d="M13.905 1.72a.75.75 0 010 1.06L12.685 4h4.065a3.75 3.75 0 013.75 3.75v8.75a.75.75 0 01-1.5 0V7.75a2.25 2.25 0 00-2.25-2.25h-4.064l1.22 1.22a.75.75 0 01-1.061 1.06l-2.5-2.5a.75.75 0 010-1.06l2.5-2.5a.75.75 0 011.06 0zM4.25 6.5a1.75 1.75 0 100-3.5 1.75 1.75 0 000 3.5zM7.5 4.75a3.25 3.25 0 11-6.5 0 3.25 3.25 0 016.5 0z"/><path fill-rule="evenodd" d="M10.095 22.28a.75.75 0 010-1.06l1.22-1.22H7.25a3.75 3.75 0 01-3.75-3.75V7.5a.75.75 0 011.5 0v8.75a2.25 2.25 0 002.25 2.25h4.064l-1.22-1.22a.75.75 0 111.061-1.06l2.5 2.5a.75.75 0 010 1.06l-2.5 2.5a.75.75 0 01-1.06 0z"/></svg></a>
                </div>
    </header>