 <div class="menu-contrainer js-menu-container" id="mobile-menu">
      {{> svg-closeMenu}}
      </button>
      <nav class="mobile__nav">
        <ul class="mobile__list">
          <li class="mobile__item">
            <a class="mobile__link current__mobile" href="/homepage">Home</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="/products?page=1&limit=16&category=all">Categories</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="/shops">Our Shops</a>
          </li>
        </ul>
        <ul class="mobile__list--contacts">
          <li class="mobile__item--contacts">
            <a class="mobile__link--number" href="+12127363100">
              +1 212 736 3100</a
            >
          </li>
          <li class="mobile__item--contacts">
            <a class="mobile__link--mail" href="mailto:info@empire.com">
              info@empire.com</a
            >
          </li>
        </ul>
      </nav>
      <ul class="mobile__socials--list">
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Instagram</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Twitter</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Facebook</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">LinkedIn</a>
        </li>
      </ul>
    </div>