 <div class="mobile__header">
        <a href="" class="mobile__header-item mobile__header-item--wa">
            <p>
                Collcections
            </p>
        </a>
        <a href="" class="mobile__header-item mobile__header-item--call">
            <p>New Arrivals</p>
        </a>
    </div>