 <div class="menu-contrainer js-menu-container" id="mobile-menu">
      <button
        class="menu-toggle js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Кнопка закрытия мобильного меню"
      >
       <svg version="1.1"  width="32" height="32" viewBox="0 0 32 32">

<path d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z"></path>
</svg>
      </button>
      <nav class="mobile__nav">
        <ul class="mobile__list">
          <li class="mobile__item">
            <a class="mobile__link current__mobile" href="/homepage">Home</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="/products?page=1&limit=16&category=all">Categories</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="/shops">Our Shops</a>
          </li>
        </ul>
        <ul class="mobile__list--contacts">
          <li class="mobile__item--contacts">
            <a class="mobile__link--number" href="+12127363100">
              +1 212 736 3100</a
            >
          </li>
          <li class="mobile__item--contacts">
            <a class="mobile__link--mail" href="mailto:info@empire.com">
              info@empire.com</a
            >
          </li>
        </ul>
      </nav>
      <ul class="mobile__socials--list">
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Instagram</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Twitter</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">Facebook</a>
        </li>
        <li class="mobile__socials--item">
          <a class="mobile__socials--link" href="#">LinkedIn</a>
        </li>
      </ul>
    </div>