 <div class="backdrop is-hidden" data-modal>
        <div class="modall">
            <form class="form" method="post">
                <b class="form__title">Please, fill the form</b>
                <label class="form__label">Email
              <input
                type="email"
                class="form__input"
                placeholder=" "
                id="email"
              />
            </label>

                <label class="form__label">Password
              <input
                type="password"
                minlength="6"
                class="form__input"
                placeholder=" "
                id="password"
              />
            </label>

                <label class="form__label">Name
              <input type="text"  class="form__input" placeholder=" " id="name"/>
            </label>
                <button id="formBtn" type="submit" class="button form__btn">
              Login/Register
            </button>
            </form>
            <button class="modal__btn" data-modal-close>
            {{> svg-closeModal}}
          </button>
        </div>
    </div>