 {{#each this}}
            <li class="featured__item--product">
               <a href="/product?productID={{_id}}" class="featured__item-img"> <img  src={{image}}   alt="product-photo" class="featured__item-img"></a>
                <h3 class="featured__item-title">{{title}}</h3>
               {{> svg-wishListForThumb}}
                <button type="button" class="button cart-btn featured-btn" id="addBtn">Add to Cart</button>
            </li>
            {{/each }}