<button class="product__card--btn plus" type="button" name="button" id="plus">
 {{> svg-plus}}
</button>
<span  id="quantity" class="product__card--input">{{#if quantity}}{{quantity}}{{else}}1{{/if}}</span>
<button class="product__card--btn minus" type="button" name="button" id="minus">
  {{> svg-minus}}
</button>