<div class="checkout dn">
  <div class="checkout__item ">
    <span>1</span>
    <p>Shopping Cart</p>
  </div>
  <div  class="checkout__item no-active">
    <span>2</span>
    <p>Checkout</p>
  </div>
  <div  class="checkout__item no-active">
    <span>3</span>
    <p>Completed</p>
  </div>
</div>