:root {
    --main-black-color: #393D46;
    --main-grey-color: #F6F7FB;
    --secondary-black-color: #9F9F9F;
    --no-image-color: #CDCFD1;
    --yellow-color: #FBEA53;
    --white-color: #ffffff;
    --card-set-gap: 32px;
}