    @import "~normalize.css";
    /*
    Common styles *54
    Cart-btn  *308
    Header  *60
    Hero *118
    Categories  *174
    Arrivals  *268
    Featured *362
    Popular  *455
    Advantages  *517
    Clients  *558
    Footer  *585
    */
    
     :root {
        --main-black-color: #393D46;
        --main-grey-color: #F6F7FB;
        --secondary-black-color: #9F9F9F;
        --no-image-color: #CDCFD1;
        --yellow-color: #FBEA53;
        --white-color: #ffffff;
        --card-set-gap: 32px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
    
    img {
        display: block;
        height: auto;
        width: 100%;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    button {
        font-style: normal;
        text-decoration: none;
        cursor: pointer;
        background-color: var(--main-black-color);
        color: var(--white-color);
    }
    
    a {
        font-style: normal;
        text-decoration: none;
        cursor: pointer;
    }
    
    .container-shop {
        margin: 0 auto;
        min-width: 320px;
        max-width: 1920px;
        padding: 0 144px;
    }
    /*HEADER*/
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header_logo-link {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 1.5;
        font-family: 'Playfair Display';
    }
    
    .header_logo-icon {
        margin-right: 8px;
    }
    
    .header_nav {
        display: flex;
        align-items: center;
        padding: 35px 0;
    }
    
    .header_nav-link {
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal;
        margin-right: 80px;
        text-decoration: none;
        color: var(--main-black-color);
    }
    
    .header_nav-link:last-child {
        margin-right: unset;
    }
    
    .header_icon-search {
        margin-right: 32px;
    }
    
    .header_search-input {
        display: none;
    }
    
    .header-btn {
        padding: 16.5px 28.5px;
        margin-left: 58px;
        font-size: 18px;
        font-weight: bold;
    }
    
    .header_user-corner {
        display: flex;
        align-items: center;
    }
    /* HERO  */
    
    .hero {
        position: relative;
        padding: 99px 0 125px 0;
        width: 35%;
    }
    
    .hero-container {
        display: flex;
        align-items: center;
        background-color: var(--main-grey-color);
        height: 700px;
    }
    
    .hero-title {
        font-family: 'Playfair Display';
        font-size: 90px;
        font-weight: normal;
        line-height: 1.4;
        color: var(--main-black-color);
    }
    
    .hero-subtitle {
        font-size: 64px;
        font-weight: bold;
        color: var(--main-black-color);
    }
    
    .hero-text {
        font-size: 18px;
        line-height: 1.8;
        color: var(--main-black-color);
        margin-top: 32px;
        margin-bottom: 56px;
    }
    
    .hero-btn {
        padding: 12px 91px 12px 33px;
        background-color: var(--main-black-color);
        color: var(--white-color);
    }
    
    .hero-btn::after {
        content: "\2192";
        bottom: 117px;
        color: var(--white-color);
        font-size: 29px;
        margin-left: 26px;
        position: absolute;
    }
    
    .img-slider {
        height: 700px;
        width: 1200px;
    }
    /* CATEGORIES */
    
    .categories {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .categories-title {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
        color: var(--main-black-color);
    }
    
    .categories-link {
        color: var(--main-black-color);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        display: flex;
        justify-content: end;
        margin-right: 35px;
    }
    
    .categories-title--help {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }
    
    .pseudo-wrap {
        position: relative;
    }
    
    .categories-link::after {
        content: "\2192";
        top: -2px;
        right: 0;
        color: var(--main-black-color);
        font-size: 19px;
        position: absolute;
    }
    
    .icon-categories {
        fill: var(--main-black-color);
    }
    
    .categories-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .categories-item--link {
        display: flex;
        justify-content: center;
        /* background-color: var(--main-grey-color); */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 36px 74px;
    }
    
    .categories-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: calc(100% / 6 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        background-color: var(--main-grey-color);
        width: 242px;
        cursor: pointer;
    }
    
    .categories-item--title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.5;
        color: var(--secondary-black-color);
    }
    
    .categories-item:hover {
        background-color: var(--main-black-color);
    }
    
    .categories-item--icon:hover {
        fill: var(--white-color);
    }
    /* ARRIVALS */
    
    .arrivals {
        padding-bottom: 100px;
        display: flex;
    }
    
    .arrivals-product {
        display: flex;
        padding: 32px 32px;
        width: 800px;
        background-color: var(--main-grey-color);
        margin-right: 32px;
    }
    
    .arrivals-product--img {
        width: 380px;
        height: 630px;
        margin-right: 48px;
        background-color: var(--no-image-color);
    }
    
    .arrivals-product--title {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.5;
        color: var(--main-black-color);
    }
    
    .arrivals-prodact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .arrivals-product--price {
        color: var(--secondary-black-color);
        margin-bottom: 24px;
    }
    
    .cart-btn {
        padding: 16.5px 47px;
    }
    
    .arrivals-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .arrivals-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: calc(100% / 2 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        background-color: var(--main-grey-color);
        width: 242px;
        cursor: pointer;
    }
    
    .arrivals-item-img {
        width: 177px;
        height: 177px;
        background-color: var(--no-image-color);
    }
    
    .arrivals-item-title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.5;
        color: var(--main-black-color);
    }
    
    .arrivals-item--price {
        color: var(--secondary-black-color);
    }
    /* FEATURED */
    
    .featured {
        margin-bottom: 74px;
    }
    
    .featured-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .featured-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: calc(100% / 4 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        width: 242px;
        cursor: pointer;
        padding: 24px;
        border: transparent 1px solid;
    }
    
    .featured-item-img {
        width: 250px;
        height: 250px;
        background-color: var(--no-image-color);
    }
    
    .featured-item:hover .featured-btn {
        visibility: visible;
    }
    
    .featured-item:hover {
        border: var(--main-black-color) 1px solid;
    }
    
    .featured-btn {
        visibility: hidden;
    }
    
    .featured-item--price {
        margin-bottom: 8px;
    }
    /* SUMMER COLLECTIONS */
    
    .collections-title {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
        color: var(--white-color);
        margin-bottom: 45px;
    }
    
    .collections-list {
        position: absolute;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .collections-item {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-basis: calc(100% / 3 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        padding: 146px 59px;
        background-color: var(--no-image-color);
    }
    
    .collections-item--title {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 1.5;
    }
    
    .collections-item--title span {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
    }
    /* POPULAR */
    
    .popular {
        padding-top: 200px;
        padding-bottom: 150px;
    }
    /* RAITING */
    /* ************************************************************* */
    
    .rating-mini {
        display: inline-block;
        font-size: 0;
    }
    
    .rating-mini span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
    }
    
    .rating-mini>span:before {
        content: '★';
    }
    
    .rating-mini>span.active {
        color: gold;
    }
    /* ******************************************************************** */
    
    .popular-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .popular-item {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-basis: calc(100% / 3 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        padding: 24px;
    }
    
    .popular-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: var(--main-black-color);
        margin-bottom: 8px;
    }
    
    .popular-item-img {
        width: 225px;
        height: 160px;
        background-color: var(--no-image-color);
        margin-right: 16px;
    }
    /* ADVANTAGES */
    
    .advantages-title {
        position: absolute;
        left: 150px;
        top: -66px;
    }
    
    .advantages-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .advantages-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-basis: calc(100% / 4 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        padding: 32px;
    }
    
    .advantages-item p {
        font-weight: normal;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: var(--secondary-black-color);
    }
    
    .advantages-item svg {
        margin-bottom: 32px;
    }
    
    .advantages-item h3 {
        margin-bottom: 8px;
    }
    /* CLIENTS */
    
    .clients {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .clients-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }
    
    .clients-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-basis: calc(100% / 4 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
        padding: 32px;
    }
    /* FOOTER */
    
    .footer {
        background-color: var(--main-black-color);
        color: var(--white-color);
    }
    
    .footer-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
        padding-top: 65px;
        padding-bottom: 85px;
    }
    
    .footer-chunk {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-basis: calc(100% / 6 - var(--card-set-gap));
        margin-left: 32px;
        margin-top: 32px;
    }
    
    .footer-chunk:first-child {
        margin-left: 0;
    }
    
    .footer-chunk h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 24px;
    }
    
    .footer-chunk--list {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .footer-chunk--list li {
        margin-bottom: 16px;
    }
    
    .footer-chunk--list li:last-child {
        margin-bottom: 0px;
    }
    
    .footer-socials {
        display: flex;
    }
    
    .footer-socials li {
        margin-right: 24px;
    }
    
    .footer-socials li:last-child {
        margin-right: 0px;
    }
    
    .footer-chunk--input {
        width: 384px;
        height: 60px;
    }