.cart {
    padding-bottom: 100px;
    padding-top: 100px;
}

.cart__table {
    width: 100%;
    margin-bottom: 32px;
}

#titleForCart {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.cart__table-head {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.cart__table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--no-image-color);
    &:last-child {
        border-bottom: 1px solid var(--no-image-color);
    }
    &:first-child {
        border-top: unset;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: unset;
    }
}

.cart__table-img {
    width: 50px;
    height: 100px;
    margin-right: 20px;
    @media screen and (min-width: 1024px) {
        width: 200px;
        height: 300px;
        margin-right: 66px;
    }
}

.cart__table-data {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
    display: flex;
    flex-basis: calc(100% / 5 - var(--card-set-gap));
    justify-content: start;
    // min-width: 300px;
    // max-width: 600px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--main-black-color);
    &:first-child {
        min-width: 200px;
    }
    &:last-child {
        margin-right: unset;
        justify-content: end;
    }
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-right: 32px;
        display: flex;
        flex-basis: calc(100% / 5 - var(--card-set-gap));
        justify-content: start;
        // min-width: 300px;
        // max-width: 600px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: var(--main-black-color);
        &:first-child {
            min-width: 600px;
        }
        &:last-child {
            margin-right: unset;
            justify-content: end;
        }
    }
}

.cart__table-data--quantity {
    display: flex;
}

.first-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart__table-quantity {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cart__table-btn {
    border-radius: 30%;
    color: var(--main-black-color);
    background: var(--white-color);
    border: 1px solid var(--white-color);
    outline: none;
    width: 30px;
    height: 30px;
    &:hover,
     :focus,
     :active {
        background-color: transparent;
        outline: none;
        background: var(--white-color);
        border: none;
    }
}

.cart__promo {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        & input {
            width: 324px;
            height: 60px;
            padding: 16px;
            color: var(--secondary-black-color);
        }
        & button {
            padding: 16.5px;
            height: 60px;
        }
    }
}

.cart__bottom {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: unset;
    }
}

.cart__bottom-wrap {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart__bottom--total {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-black-color);
}

.cart__bottom-wrap--total {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 80px;
}

.cart__bottom--price {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    color: var(--main-black-color);
}

.cart__bottom-wrap--btn {
    padding: 16.5px;
    border: 1px solid var(--main-black-color);
    text-decoration: none;
    &:first-child {
        background-color: var(--white-color);
        color: var(--main-black-color);
        margin-right: 10px;
    }
    &:first-child:hover,
     :focus,
     :active {
        background-color: var(--accent-color);
        color: var(--white-color);
        text-decoration: none;
    }
    &:last-child {
        padding: 16.5px 41px;
        background-color: var(--main-black-color);
        text-decoration: none;
        color: var(--white-color);
    }
    &:last-child:hover,
     :focus,
     :active {
        background-color: var(--accent-color);
        color: var(--white-color);
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        padding: 16.5px;
        border: 1px solid var(--main-black-color);
        text-decoration: none;
        &:first-child {
            background-color: var(--white-color);
            color: var(--main-black-color);
            margin-right: 48px;
        }
        &:first-child:hover,
         :focus,
         :active {
            background-color: var(--accent-color);
            color: var(--white-color);
            text-decoration: none;
        }
        &:last-child {
            padding: 16.5px 41px;
            background-color: var(--main-black-color);
            text-decoration: none;
            color: var(--white-color);
        }
        &:last-child:hover,
         :focus,
         :active {
            background-color: var(--accent-color);
            color: var(--white-color);
            text-decoration: none;
        }
    }
}