#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.map-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
}

.map-text {
    margin-left: 100px;
    font-size: 24px;
}